<div class="body">

  <!-- navbar -->
  <header>
    <a class="navbar-brand">
      <span class="navbar-brand-text">
        <img [src]="logoHomeButton" alt="KEU Logo Home Button" class="logo-home-button">
      </span>
    </a>

    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a (click)="toHome()"class="active">Home</a></li>
        <li><a (click)="toDonations()">Donations</a></li>
        <li><a (click)="toBookings()">Bookings</a></li>
        <li><a (click)="toEvents()">Events</a></li>
        <li><a (click)="toUpdates()">Updates</a></li>
        <li><a (click)="toAbout()">About</a></li>
      </ul>
    </nav>
  </header>

  <!-- backgrounds/sections -->
  <div class="container">
    <div class="section slogan-flex-container" id="home-link">
      <div class="logo-container">
        <img [src]="watermarkLogo" alt="KEU Watermark Logo" class="watermark-logo">
        <img [src]="pswLogo" alt="Poetry and Spoken Word Logo" class="pswLogo">
      </div>
      <div class="">
        <div class="slogan-container">
          <h1>{{dailySlogan.text}}</h1>
          <h2>- {{dailySlogan.author}}</h2>
        </div>
      </div>
    </div>
    <div class="section" id="donation-link">
      <div class="donate-btn-container">
        <div class="btn"><a href="https://www.paypal.com/paypalme/kirklandenterprisesu" target="_blank">Donate</a></div>
      </div>
    </div>
    <div class="section" id="bookings-link"></div>
    <div class="section" id="events-link"></div>
    <div class="section" id="updates-link"></div>
    <div class="section" id="about-link"></div>
  </div>
</div>

<!-- source: https://www.youtube.com/watch?v=yk57cgZLWRo -->