<div class="body">

  <!-- navbar -->
  <header>
    <a href="#">Logo</a>
    <div class="menu-toggle">
      <nav>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Donations</a></li>
          <li><a href="#">Bookings</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Updates</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- backgrounds/sections -->
  <div class="container">
    <div class="section">
      <div class="slogan-container">
        <h1>{{dailySlogan.text}}</h1>
        <h2>- {{dailySlogan.author}}</h2>
      </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
    <div class="section"></div>
  </div>
</div>

<!-- source: https://www.youtube.com/watch?v=yk57cgZLWRo -->