<div class="main-section events-section" id="events-section">
    <div class="events-logo-container section-logo-container">
        <img [src]="eventsLogo" alt="Events Logo" class="eventsLogo">
    </div>
    <div class="events-two-by-two-sectional-container">
        <div class="events-two-by-two-row">
            <div class="event-container">
                <div class="event-img-container">
                    <img [src]="grayComingSoon" alt="Unattainable Love Image" id="gray-coming-soon">
                </div>
            </div>
            <div class="event-container">
                <img [src]="unattainableLove" alt="Unattainable Love Image" id="unattainable-love">
            </div>
        </div>
    </div>
</div>