<div class="main-section events-section" id="events-section">
    <div class="events-logo-container section-logo-container">
        <img [src]="eventsLogo" alt="Events Logo" class="eventsLogo">
    </div>
    <div class="events-two-by-two-sectional-container">
        <div class="events-two-by-two-row">
            <div class="event-container">
                testings1
            </div>
            <div class="event-container">
                testings2
            </div>
        </div>
    </div>
</div>