body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: rgba(255,239,219,0.7) !important;
}

.fc .fc-toolbar-title, .fc .fc-daygrid-day-number, .fc-col-header-cell-cushion {
	color: white;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: saddlebrown;
}